<div id="<%= dom_id todo_item %>">
  <p>
    <strong>Todo lists:</strong>
    <%= todo_item.todo_lists_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= todo_item.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= todo_item.description %>
  </p>

  <p>
    <strong>Completion:</strong>
    <%= todo_item.completion %>
  </p>

</div>
