<div id="<%= dom_id todo_item %>" class="todo-item-line">
  <span><strong>Title: </strong> <%= todo_item.title %></span>
  <span><strong>Description:</strong> <%= todo_item.description %></span>
  <span><strong>Completion:</strong> <%= todo_item.completion %></span>
  <%= link_to "Edit todo item", edit_todo_list_item_path(id: todo_item.id) %>
</div>
