<div
  id="<%= dom_id todo_item %>"
  data-controller="todo-item"
>
  <div
    class="flex items-center w-200 space-x-4 cursor-pointer select-none"
    data-action="click->todo-item#toggle"
  >
  <span class="todo-item-checkbox">
    <%= form_with(model: [@todo_list, todo_item], url: toggle_completion_todo_list_todo_item_path(@todo_list, todo_item), method: :patch) do |form| %>
      <%= check_box_tag 'completed', '1', todo_item.completed?, onchange: 'this.form.requestSubmit()', class: 'todo-item-checkbox' %>
    <% end %>
  </span>
    <div
      class="todo-item-title"
      data-todo-item-target="title"
    >
      <div class="text-2xl font-bold"><%= todo_item.name %></div>
    </div>
    <% if todo_item.completed_at.present? %>
      <span class="todo-item-completion"><strong>Completed At:</strong> <%= todo_item.completed_at %></span>
    <% end %>
    <div class="text-blue-600 font-medium text-sm justify-end ml-auto">
      <%= link_to "Edit", edit_todo_list_todo_item_path(@todo_list, todo_item), class: "ml-5 hover:underline " %>
      <%= form_with(model: [@todo_list, todo_item], method: :delete, class: "inline") do |f| %>
        <%= f.submit "Delete", class: "ml-2 hover:underline text-blue-600 font-medium text-sm bg-transparent border-0 cursor-pointer" %>
      <% end %>
    </div>
  </div>
  <div
    class="todo-item-description hidden mt-5 w-full "
    data-todo-item-target="description"
  > <%= todo_item.description %></div>
</div>
