<p style="color: green"><%= notice %></p>
<h1>Todo items</h1>

<%= render 'index', todo_items: @todo_items %>

<%= render 'new' %>

<%= form_with(url: toggle_all_completed_todo_list_todo_items_path(@todo_list), method: :patch) do |form| %>
  <%= check_box_tag 'complete_all', '1', @all_completed, onchange: 'this.form.requestSubmit()' %>
  <%= form.label 'complete_all', 'Complete All' %>
<% end %>
